@font-face { font-family: 'Cafe24Ohsquare'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Handon3gyeopsal600g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff'); font-weight: normal; font-style: normal; }
*{margin: 0;padding: 0}
html, body {
     position: relative;
     height: 100%;
   }
   body {
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color:#000;
     margin: 0;
     padding: 0;
   }
   a{text-decoration: none;}
   li{list-style: none;}
   a:active,a:visited,a:link{color: black}
  .clear::after{content: '';display: block;clear:both;}
  .container{max-width: 1440px;margin: 0 auto}
  #hd{border-bottom: 1px solid #222}
  #logo{float: left;width: 200px;height: 80px}
  #gnb{float: right;padding-top: 25px}
  #gnb li{float: left;padding: 0 20px}
  #gnb li:last-child{padding-right: 50px}
  #gnb li a{display: block;text-align: center;font-family: 'Handon3gyeopsal600g';font-size: 2em}

   .swiper-container {
     width: 100%;
     height: 100%;
   }
   .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }
   #sliderWrap{max-width: 77%;max-height: 400px;position: absolute;bottom: 15%;right: 0px}

 #Portfolio .swiper-button-next,#Portfolio  .swiper-button-prev{position: relative;top:auto;right: auto;left: auto;width: auto;color: black;float: right;margin-top: auto}
#Portfolio  .swiper-button-next::after,#Portfolio  .swiper-button-prev::after{font-family: 'Cafe24Ohsquare';}
   p.pull-left {
       padding: 0px 10px;
       color: #ccc;
       font-size: 11px;
       margin-top: 2px;
       float: right;
       font-size: 3em;color: black
   }
.slideButton{position: absolute;right: 60px;top: 370px}

#Portfolio .swiper-slide img{max-width: 80%}
#Portfolio .Portfolio{position: absolute;top:20%;left: 25%;}
#Portfolio h1{font-size: 8em;display: block;position: relative;}

.ani{height: 8em;background: rgb(0,0,0);opacity: 1;position: absolute;top: 0;animation: inout .7s;}
@keyframes inout {
  0%{width: 0;left: 0}
  50%{width: 100%;left: 0}
  53%{width: 100%;left: auto;right: 0}
  100%{width: 0%;right: 0}
}


   footer{position: absolute; bottom: 0;left: 0;right: 0;border-top: 1px solid #222}
   footer > div {position: relative;text-align: center;}
   footer .contact {float: left;text-align: left}
   footer .box{text-align: left;display: inline-block;}
